@import url(http://fonts.googleapis.com/css?family=Oswald);
*{margin:0;padding:0}
body{font-family:qlassik,Arial !important; transition:all 0.5s ease;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;
background-color:#F1F1F1; ;}
body, html{height:100%;}

img{max-width:100%}
a{text-decoration:none}
a:hover{text-decoration:none}
h1, h2, h3, h4, h5, h6{font-weight:normal;margin-top:10px;margin-bottom:10px}
p{line-height: 150%;margin-bottom: 2em;}
.container {width:960px; margin:0 auto; display:block }





.left-part{
    background-color: #0072FF;
}

.right-part{
    background-color:#fff;
   
}

.top-pp{
    padding: 30px;
   
}
.top-pp img{

    border: 15px solid #fff;
    border-radius: 50%;
    width: 180px;
    height: 190px;
    overflow: hidden;
}

.address p{
    padding-left: 19px;
}
.contact h3{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    font-size: 22px;
    padding: 20px;
   
    margin-top: -15px;
}

.skill ul{
    padding:0;
    margin-left: 35px; 
}




.personal{
    padding: 30px;
    padding-bottom: 0px;
}
.personal h1{
    text-transform: uppercase;
    text-decoration: none;
    color: #0072FF;
    font-family: Arial, Helvetica, sans-serif; 
    margin-top: 100px;
}
.personal h3{
    text-transform: uppercase;
    text-decoration: none;
    color: #0072FF;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    font-size: 22px; 
    margin-top: 60px;
}

.personal h2{
    text-transform: uppercase;
    text-decoration: none;
    color: #0072FF;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    font-size: 28px;
    margin-top: 25px;
}
.personal p{
    text-align: justify;
    text-decoration:none;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;

}
.edu{
    padding: 8px 30px; 
}
.edu h2{
text-transform: uppercase;
text-decoration: none;
letter-spacing: 4px;
color: #0072FF;
}
.edu h3{
    text-transform:capitalize;
    text-decoration: none;
    font-size: 24px;
 
    }

.edu h4{
        text-transform:capitalize;
        text-decoration: none;
        padding-top:3px;
        line-height: 0%;
        font-size: 18px;
    }
.edu h6{
text-decoration: none;
padding-top: 8px;
text-transform:uppercase;

}  

.cource{
    padding: 8px 30px;  
}

.cource h2{
    text-transform: uppercase;
text-decoration: none;
letter-spacing: 4px;
color: #0072FF;
}

.cource h3{
    text-transform:capitalize;
    text-decoration: none;
    font-size: 24px;
}

.cource h5{
    text-transform:capitalize;
    text-decoration: none;
    font-size: 20px;
    line-height: 0%;
}
.cource ul{
    padding:0;
    margin-left: 15px; 
}
.cource p{
    text-decoration:none;
    font-size: 15px;
    padding-top:10px;
   
   
}




.social_link{
    width: 80%;
    align-items: center !important;
    display: flex;
    flex-direction: column;
    text-align: left;
   
  }

  .social_button ul{
      margin:0;
      padding:0;
      list-style:none; 
      text-align:left;
  }
  .social_button ul li{
      display:inline-block;
  
  }
  .social_button ul li a{
      color:#fff;
      display:block;
      font-size:16px;
        padding-bottom: 18px;
      text-align:left;
  
  }.social_button ul li a i{
      width: 35px;
      height: 35px;
      text-align: center;
      padding-top: 10px;
      border-radius: 50%;
      box-shadow: 0 0 20px 10px rgba(0,0,0,0.05);
  }
